main {
  min-height: 70vh;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: 500 !important;
  text-transform: none !important;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  font-weight: 500 !important;
  text-transform: none !important;
}
h3 {
  font-size: 1.3rem !important;
  padding: 0.5rem 0;
  font-weight: 500 !important;
  text-transform: none !important;
}
h5 {
  font-size: 1.2rem !important;
  padding: 0.5rem 0;
  font-weight: 700 !important;
  text-transform: none !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif !important;
  background-color: rgb(239, 243, 245) !important;
}
